<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>GeoKey {{ GEOKEY_VERSION }}</p>
                <p>Created by <a href="http://www.ucl.ac.uk/excites">ExCiteS research group</a>
            </div>

            <div class="col-sm-4">
                <p><a href="http://geokey.org.uk/help/">Help</a></p>
                <p><a href="http://geokey.org.uk/docs/web-api.html">API documentation</a></p>
            </div>

            <div class="col-sm-4">
                <p><a href="https://twitter.com/geokey_project">Follow GeoKey on Twitter</a></p>
                <p><a href="https://github.com/excites/geokey/">Contribute on Github</a></p>
            </div>
        </div>
    </div>
</footer>
