{% if providers %}
    <div class="list-group social">
        {% for provider in providers %}
            <a type="button" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="list-group-item">
                <img src="/static/img/social/{{ provider.name|lower }}.svg" alt="{{ provider.name }}" />
                <h5>{{ provider.name }}</h5>
            </a>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info">
        <p>No social account providers have been added. Please check your configuration.</p>
    </div>
{% endif %}
