{% load socialaccount %}

{% if social_apps %}
    <div class="list-group social">
        {% for social_app in social_apps %}
            <a role="button" href="{% provider_login_url social_app.provider.id process=process scope=scope auth_params=auth_params %}" class="list-group-item">
                <img src="/static/img/social/{{ social_app.provider.id }}.svg" alt="{{ social_app.provider.name }}" />
                <h4>{{ social_app.name }}</h4>
            </a>
        {% endfor %}
    </div>
{% endif %}
